.grid {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 5px;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 10px 5px 5px 5px;
  margin-bottom: 15px;
}

.margin {
  margin: 0;
}
